/resorces
.gradle
/local.properties
/.idea
/app/libs
.DS_Store
/build
/captures
app/src/androidTest
app/src/test
app/src/main/java/com/slx/funstream/auth
app/src/full
app/gradle.properties
app/version.properties
gradle
FunStream.iml
gradlew
gradlew.bat
vitamio
.navigation
